nav a {
    color: white;
    padding: 18px;
    text-decoration: none;}


nav a:hover{background-color: #7395ae;}

nav{
    padding: 15px;
    margin-bottom: 100px;
    text-align: center;
    background: #557a95;
    font-size: 18px;}


body{background-color:white;}

.main{display: flex; justify-content: space-around;}



.link{
    color: white;
background-color: orange;
padding: 10px;
}




  @media only screen and (max-width:600px){
    nav a{max-width: 100%;
    display: block;
    padding: 10px;}
    .main{display: block;}}

